<div class="flex items-center justify-center min-h-screen bg-white py-48">
  <div class="flex flex-col">
    <div class="flex flex-col mt-8"> 
      <div class="container max-w-7xl px-4"> 
        <div class="flex flex-wrap"> 

          <%# Stylist Card %>
          <div id="<%= dom_id stylist %>",class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4"> 
            <div class="flex flex-col" >  
              <div>  

               <% stylist.images.each do |image|
                # <%# <% if image.blob.representable? %>
                #   <%# <%= image.blob.methods %>
                  <%= image_tag image.blob.representation(resize_to_limit: [400, 400])%>
                <%# <% end %>
               <% end %>

              </div>
              <div class="text-center mt-6"> 
                <div>
                  <%# <%= image_tag stylist.images.variant(resize_to_limit: [100, 100]) %> %>
                </div>
                <h1 class="text-gray-900 text-xl font-bold mb-1 uppercase">
                  <%= stylist.name %>
                </h1>
                
                <h1 class="text-gray-900 text-xl font-bold mb-1">
                  <%= stylist.instagram %>
                </h1> 
              </div> 
            
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<div/>
            
        
        
        


<div id="<%= dom_id stylist %>"> 
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= stylist.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= stylist.bio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Instagram:</strong>
    <%= stylist.instagram %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rate:</strong>
    <%= stylist.rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= stylist.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this stylist", stylist, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this stylist', edit_stylist_path(stylist), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
