<div id="<%= dom_id stylist %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= stylist.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= stylist.bio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Instagram:</strong>
    <%= stylist.instagram %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rate:</strong>
    <%= stylist.rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= stylist.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this stylist", stylist, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this stylist', edit_stylist_path(stylist), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
